.rhap_play-status--paused {
  background-color: transparent;
  border: none;
  box-shadow: none;
  height: 90px;
}

.rhap_play-status--playing {
  background-color: transparent;
  border: none;
  box-shadow: none;
  height: 90px;
}

.rhap_rewind-button,
.rhap_forward-button {
  display: none !important;
}
.rhap_play-status--playing .rhap_volume-container {
  display: none !important;
}

.rhap_play-status--paused .rhap_volume-container {
  display: none !important;
}

/* .rhap_play-status--playing .progressbar {
  display: none !important;
}
.rhap_play-status--paused .progressbar {
  display: none !important;
} */

/* 오디오 컨테이너 */
.rhap_main {
  position: relative;
}

/* 컨트롤러 버튼 컨테이너 */
.rhap_controls-section {
  margin: 0px;
  position: absolute;
  top: 69px;
  left: -8px;
}

/* 이전, 다음곡 버튼 */
.rhap_skip-button {
  width: 56px;
  height: 88px;
  margin: 0 12px;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-radius: 16px;
  box-shadow:
    0px -4px 4px 2px rgba(0, 0, 0, 0.2),
    0px 2px 4px rgba(255, 255, 255, 0.1),
    inset 0px 4px 4px rgba(255, 255, 255, 0.1),
    inset 0px 3px 1px rgba(255, 255, 255, 0.1),
    inset 0px 4px 4px rgba(255, 255, 255, 0.2);
}

/* 재생, 정지 버튼 */
.rhap_play-pause-button {
  width: 88px;
  height: 88px;
  margin: 0 12px;
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-radius: 16px;
  box-shadow:
    0px -4px 4px 2px rgba(0, 0, 0, 0.2),
    0px 2px 4px rgba(255, 255, 255, 0.1),
    inset 0px 4px 4px rgba(255, 255, 255, 0.1),
    inset 0px 3px 1px rgba(255, 255, 255, 0.1),
    inset 0px 4px 4px rgba(255, 255, 255, 0.2);
}

/* 반복버튼 */
.rhap_repeat-button {
  width: 40px;
  height: 60px;
}

/* 재생 시간 */
.rhap_time {
  color: #fff;
  font-size: 12px;
  line-height: 150%;
  opacity: 50%;
}

.rhap_progress-indicator {
  display: none;
}

.rhap_progress-container {
  /* padding: 10px 0px; */
  height: 12px;
  background: rgba(104, 91, 225, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow:
    0px 0px 0px 1px rgba(0, 0, 0, 0.3),
    0px 0px 0px 2px rgba(0, 0, 0, 0.1),
    0px 8px 12px rgba(0, 0, 0, 0.1),
    inset 0px 0px 20px rgba(0, 0, 0, 0.3);
  border-radius: 99px;
}

.rhap_progress-filled {
  background-color: #685bff;
  padding: 0px 3px;
  height: 12px;
  border-radius: 99px;
  box-shadow:
    0px 4px 4px rgba(0, 0, 0, 0.2),
    0px 0px 0px 1px rgba(255, 255, 255, 0.2),
    0px 0px 0px 4px rgba(255, 255, 255, 0.05),
    0px 0px 0px 3px rgba(0, 0, 0, 0.5),
    inset 0px 1px 2px rgba(255, 255, 255, 0.2),
    inset 0px 4px 1px rgba(255, 255, 255, 0.1),
    inset 0px -4px 1px rgba(0, 0, 0, 0.2);
}
.rhap_progress-bar-show-download {
  background: transparent;
  height: 12px;
}
.rhap_download-progress {
  background: transparent;
}
